* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.square {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}

.big-square {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 10px;
}

.content {
    height: 150px;
    border: 1px solid black;
    margin: 10px 0px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.gold {
    background-color: gold;
}

.silver {
    background-color: silver;
}

.text-lightblue {
    color: lightblue
}

.form-price {
    background-color: rgb(48, 12, 12);
    color: #fff;
    padding: 20px;
}